.play-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 172px);
  }
  
  .play-button {
    margin-top: auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
  }
  
  .play-button:hover {
    background-color: #333;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .button-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .button-item {
    margin-right: 10px;
  }
  
  .button-link {
    display: block;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    background-color: #444;
    border: none;
    cursor: pointer;
  }
  
  .button-link:hover {
    background-color: #333;
  }
  
  .scenario-container {
    flex: 1;
    display: grid;
    grid-gap: 15px;
    padding: 15px;
  }
  
  .grid-1 {
    grid-template-columns: 1fr;
  }
  
  .grid-1 .player-container {
    padding: 30px;
    /* border: 4px solid #fff; */
    border-radius: 12px;
  }
  
  .grid-1 .character-image {
    width: 160px;
    margin-bottom: 20px;
  }
  
  .grid-1 .shield-icon,
  .grid-1 .health-icon {
    width: 32px;
    margin-right: 10px;
  }
  
  .grid-1 .bar-container {
    width: 300px;
    margin-right: 10px;
  }
  
  .grid-1 .shield-bar-container {
    height: 16px;
  }
  
  .grid-1 .health-bar-container {
    height: 32px;
  }
  
  .grid-1 .shield-value,
  .grid-1 .health-value {
    font-size: 24px;
    right: -50px;
  }
  
  .grid-1 .inventory,
  .grid-3 .inventory,
  .grid-4 .inventory {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .grid-1 .inventory-slot,
  .grid-3 .inventory-slot,
  .grid-4 .inventory-slot {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background: var(--rarity-color);
  }
  
  .grid-1 .inventory-item,
  .grid-3 .inventory-item,
  .grid-4 .inventory-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
  }
  
  .grid-3 .inventory-item,
  .grid-4 .inventory-item {
    width: 90px;
    height: 90px;
  }
  
  .grid-1 .quantity,
  .grid-3 .quantity,
  .grid-4 .quantity {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
  
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  
  .grid-2 .player-container,
  .grid-3 .player-container,
  .grid-4 .player-container {
    padding: 20px;
    /* border: 3px solid #fff; */
    border-radius: 9px;
  }
  
  .grid-2 .character-image,
  .grid-3 .character-image,
  .grid-4 .character-image {
    width: 120px;
    margin-bottom: 15px;
  }
  
  .grid-2 .shield-icon,
  .grid-2 .health-icon,
  .grid-3 .shield-icon,
  .grid-3 .health-icon,
  .grid-4 .shield-icon,
  .grid-4 .health-icon {
    width: 24px;
    margin-right: 7px;
  }
  
  .grid-2 .bar-container,
  .grid-3 .bar-container,
  .grid-4 .bar-container {
    width: 225px;
    margin-right: 7px;
  }
  
  .grid-2 .shield-bar-container,
  .grid-3 .shield-bar-container,
  .grid-4 .shield-bar-container {
    height: 12px;
  }
  
  .grid-2 .health-bar-container,
  .grid-3 .health-bar-container,
  .grid-4 .health-bar-container {
    height: 24px;
  }
  
  .grid-2 .shield-value,
  .grid-2 .health-value,
  .grid-3 .shield-value,
  .grid-3 .health-value,
  .grid-4 .shield-value,
  .grid-4 .health-value {
    font-size: 18px;
    right: -37px;
  }
  
  .grid-2 .inventory,
  .grid-3 .inventory,
  .grid-4 .inventory {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .grid-2 .inventory-slot,
  .grid-3 .inventory-slot,
  .grid-4 .inventory-slot {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    background: var(--rarity-color);
  }
  
  .grid-2 .inventory-item,
  .grid-3 .inventory-item,
  .grid-4 .inventory-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }
  
  .grid-2 .quantity,
  .grid-3 .quantity,
  .grid-4 .quantity {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 3px;
    right: 3px;
  }

  .grid-1 .inventory-slot:not(.empty),
    .grid-2 .inventory-slot:not(.empty),
    .grid-3 .inventory-slot:not(.empty),
    .grid-4 .inventory-slot:not(.empty) {
    background: radial-gradient(circle at center, var(--rarity-color) 0%, rgba(0, 0, 0, 0.8) 175%);
    }
        
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .grid-3 .player-container:last-child {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 50%;
    justify-self: center;
  }
  
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .player-container {
    padding: 15px;
    background-color: transparent;
    /* border: 2px solid #fff; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .character-image {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .health-shield-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .shield-container,
  .health-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .shield-icon,
  .health-icon {
    width: 16px;
    height: auto;
    margin-right: 5px;
  }
  
  .bar-container {
    width: 150px;
    margin-right: 5px;
    position: relative;
  }
  
  .shield-bar-container {
    height: 8px;
  }
  
  .health-bar-container {
    height: 16px;
  }
  
  .bar-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.8);
  }
  
  .shield-bar {
    height: 100%;
    background-color: #4593f0;
    position: relative;
  }
  
  .health-bar {
    height: 100%;
    background-color: #61c33d;
    position: relative;
  }
  
  .shield-value,
  .health-value {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
  }
  
  .external-screen {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
  }

  .close-button {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 23px;
    height: 23px;
    background-image: url("../../public/images/Cross.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 1001;
  }

  @media (max-width: 800px) {  
    .grid-1 .player-container,
    .grid-2 .player-container,
    .grid-3 .player-container,
    .grid-4 .player-container {
      padding: 15px;
      border-width: 2px;
      border-radius: 8px;
    }
  
    .grid-1 .character-image,
    .grid-2 .character-image,
    .grid-3 .character-image,
    .grid-4 .character-image {
      width: 100px;
      margin-bottom: 10px;
    }
  
    .grid-1 .shield-icon,
    .grid-1 .health-icon,
    .grid-2 .shield-icon,
    .grid-2 .health-icon,
    .grid-3 .shield-icon,
    .grid-3 .health-icon,
    .grid-4 .shield-icon,
    .grid-4 .health-icon {
      width: 20px;
      margin-right: 5px;
    }
  
    .grid-1 .bar-container,
    .grid-2 .bar-container,
    .grid-3 .bar-container,
    .grid-4 .bar-container {
      width: 200px;
      margin-right: 5px;
    }
  
    .grid-1 .shield-bar-container,
    .grid-2 .shield-bar-container,
    .grid-3 .shield-bar-container,
    .grid-4 .shield-bar-container {
      height: 10px;
    }
  
    .grid-1 .health-bar-container,
    .grid-2 .health-bar-container,
    .grid-3 .health-bar-container,
    .grid-4 .health-bar-container {
      height: 20px;
    }
  
    .grid-1 .shield-value,
    .grid-1 .health-value,
    .grid-2 .shield-value,
    .grid-2 .health-value,
    .grid-3 .shield-value,
    .grid-3 .health-value,
    .grid-4 .shield-value,
    .grid-4 .health-value {
      font-size: 14px;
      right: -30px;
    }
  
    .grid-1 .inventory-item,
    .grid-2 .inventory-item,
    .grid-3 .inventory-item,
    .grid-4 .inventory-item {
      width: 60px;
      height: 60px;
    }
  }

  @media (max-width: 650px) {
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .grid-3 .player-container:last-child {
        grid-column: auto;
        grid-row: auto;
        width: 100%;
        justify-self: auto;
    }
  
    .grid-1 .player-container,
    .grid-2 .player-container,
    .grid-3 .player-container,
    .grid-4 .player-container {
      padding: 15px;
      border-width: 2px;
      border-radius: 8px;
    }
  
    .grid-1 .character-image,
    .grid-2 .character-image,
    .grid-3 .character-image,
    .grid-4 .character-image {
      width: 100px;
      margin-bottom: 10px;
    }
  
    .grid-1 .shield-icon,
    .grid-1 .health-icon,
    .grid-2 .shield-icon,
    .grid-2 .health-icon,
    .grid-3 .shield-icon,
    .grid-3 .health-icon,
    .grid-4 .shield-icon,
    .grid-4 .health-icon {
      width: 20px;
      margin-right: 5px;
    }
  
    .grid-1 .bar-container,
    .grid-2 .bar-container,
    .grid-3 .bar-container,
    .grid-4 .bar-container {
      width: 200px;
      margin-right: 5px;
    }
  
    .grid-1 .shield-bar-container,
    .grid-2 .shield-bar-container,
    .grid-3 .shield-bar-container,
    .grid-4 .shield-bar-container {
      height: 10px;
    }
  
    .grid-1 .health-bar-container,
    .grid-2 .health-bar-container,
    .grid-3 .health-bar-container,
    .grid-4 .health-bar-container {
      height: 20px;
    }
  
    .grid-1 .shield-value,
    .grid-1 .health-value,
    .grid-2 .shield-value,
    .grid-2 .health-value,
    .grid-3 .shield-value,
    .grid-3 .health-value,
    .grid-4 .shield-value,
    .grid-4 .health-value {
      font-size: 14px;
      right: -30px;
    }
  
    .grid-1 .inventory-item,
    .grid-2 .inventory-item,
    .grid-3 .inventory-item,
    .grid-4 .inventory-item {
      width: 60px;
      height: 60px;
    }
  }